.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background: #eeeeee; }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.bg-primary {
  background: #0063A5; }

.bg-transparent {
  background: transparent;
  color: black; }

.t-c {
  text-align: center; }

.home {
  background: #0063A5;
  width: 200px; }
