.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background: #eeeeee; }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.home {
  background: red;
  width: 200px; }
