.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background: #eeeeee; }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.logged-in-body {
  margin-top: 70px; }

.bg-primary {
  background: #0063A5 !important; }

.bg-transparent {
  background: transparent;
  color: black; }

.t-c {
  text-align: center; }

.w-33 {
  width: 33%; }

.w-90 {
  width: 90%; }

.w-100 {
  width: 100%; }

.error {
  color: red; }

@media screen and (max-width: 800px) {
  .w-33 {
    width: 90%; } }

.button {
  width: 100%;
  border: 0;
  border-radius: 3px;
  height: 50px;
  color: white;
  background: #0063A5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button-s {
  height: 30px; }

.button:hover {
  cursor: pointer; }
