.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background: #eeeeee; }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.logged-in-body {
  margin-top: 70px; }

.bg-primary {
  background: #0063A5 !important; }

.bg-transparent {
  background: transparent;
  color: black; }

.t-c {
  text-align: center; }

.w-33 {
  width: 33%; }

.w-90 {
  width: 90%; }

.w-100 {
  width: 100%; }

.error {
  color: red; }

@media screen and (max-width: 800px) {
  .w-33 {
    width: 90%; } }

.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  background: white;
  opacity: 0.8;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw; }

.nav-logout:hover {
  cursor: pointer;
  font-weight: bold; }

.nav-logo {
  height: 100%; }

.nav-logo:hover {
  cursor: pointer; }

.nav-link-logo {
  height: 100%; }

@media screen and (max-width: 800px) {
  .navbar {
    margin-left: 0;
    margin-right: 0; } }
