$primary-color: #0063A5;
$background-color: #eeeeee;
$navbar-height: 50px;

.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: $background-color;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.logged-in-body {
  margin-top: $navbar-height;
}

.bg-primary {
  background: $primary-color!important;
}

.bg-transparent {
  background: transparent;
  color: black;
}

.t-c {
  text-align: center;
}

.w-33 {
  width: 33%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 800px){
  .w-33 {
    width: 90%;
  }
}