$primary-color: #0063A5;
$background-color: #eeeeee;

.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: $background-color;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.bg-primary {
  background: $primary-color;
}

.bg-transparent {
  background: transparent;
  color: black;
}

.t-c {
  text-align: center;
}

.w-100 {
  width: 100%;
}